@model init.Models.SiteUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-sm">
    <br />
    <form class="form-group" method="post">

        <b>Role ID</b>
        @Html.TextBoxFor(x => x.ROLEID, new { @class = "form-control" })

        <b>Kullanıcı Adı</b>
        @Html.TextBoxFor(x => x.USERNAME, new { @class = "form-control" })

        <b>Email</b>
        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })

        <b>Şifre</b>
        @Html.PasswordFor(x => x.PASSWORD, new { @class = "form-control" })

        <b>Ülke</b>
        @Html.TextBoxFor(x => x.COUNTRY, new { @class = "form-control" })

        <br />
        <button class="btn btn-success">Kullanıcı Ekle</button>



    </form>
</div>